<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="modules/shop/layouts/fragment.html :: common_head(~{::title},~{::meta},~{})">
	<title>商品已成功加入购物车</title>
	<!--<description>月光茶人</description>-->
	<!--<keywords>月光茶人</keywords>-->
	<meta name="description" content="首页" />
	<meta name="keywords" content="首页 关键字 测试" />
</head>
<body  class="page-body" >

<div th:replace="modules/shop/layouts/fragment.html :: header"></div>
<div class="main-w clearfix">
	<div class="main clearfix">
		<!-- content -->
		<div class="main-content clearfix">
			<div id="cart-success">
				<h1>商品已成功加入购物车！</h1>
				<span class="go-to-cart"><a class="btn-red" th:href="@{/cart.html}">去购物车结算</a></span>
				<span class="go-to-shopping">您还可以 <a href="javascript:history.back();">继续购物</a></span>
			</div>
		</div>

		<!-- right -->
		<div class="main-right">
			<div id="side-cart">
				<div class="title">
					<h2><i></i>我的购物车</h2>
				</div>
				<div class="content">
					<dl th:each="item,status : ${cartItemList}">
						<dt><a th:href="@{|/product/${item.product.id}.html|}"><img th:alt="${item.product.name}" th:src="@{${item.product.imageSmall}}"></a></dt>
						<dd>
							<div><a th:href="@{|/product/${item.product.id}.html|}" th:text="${item.product.name}">产品名称</a></div>
							<div th:replace="modules/shop/fragment/product-price.html :: product-price(${item})" />
						</dd>
					</dl>
					<div class="total">
						共<strong class="count" th:text="${totalCount}">${totalCount}</strong>件商品<br>
						金额总计：<strong th:text="${totalAmount}">${totalAmount}</strong>
					</div>
					<div class="btns"><a class="btn-red" th:href="@{/cart.html}">去购物车结算</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:replace="modules/shop/layouts/fragment.html :: footer"></div>
</body>
</html>
