<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="modules/shop/layouts/fragment.html :: common_head(~{::title},~{::meta},~{})">
	<title>首页</title>
	<!--<description>月光茶人</description>-->
	<!--<keywords>月光茶人</keywords>-->
	<meta name="description" content="首页" />
	<meta name="keywords" content="首页 关键字 测试" />

</head>
<body  class="page-body" >

<div th:replace="modules/shop/layouts/fragment.html :: header"></div>

<div class="main-w clearfix">
	<div class="main clearfix">


		<!-- content -->
		<div id="" class="main-content clearfix">
			<!--[if lte IE 6]><br/><div class='alert alert-block' style="text-align:left;padding-bottom:10px;"><a class="close" data-dismiss="alert">x</a><h4>温馨提示：</h4><p>你使用的浏览器版本过低。为了获得更好的浏览体验，我们强烈建议您 <a href="http://browsehappy.com" target="_blank">升级</a> 到最新版本的IE浏览器，或者使用较新版本的 Chrome、Firefox、Safari 等。</p></div><![endif]-->
			<div class="header">
				<div id="messageBox" th:class="${message}? 'alert alert-error' :'alert alert-error hide'"><button data-dismiss="alert" class="close">×</button>
					<label id="loginError" class="error" th:text="${message}">${message}</label>
				</div>
			</div>
			<!--<h1 class="form-signin-heading">${fns:getConfig('productName')}</h1>-->
			<form id="loginForm" class="form-signin" th:action="@{/login.html}" method="post">
				<label class="input-label" for="username">登录名</label>
				<input type="text" id="username" name="username" class="input-block-level required" th:value="${username}">
				<label class="input-label" for="password">密码</label>
				<input type="password" id="password" name="password" class="input-block-level required">
				<div class="validateCode" th:if="${isValidateCodeLogin}">
					<label class="input-label mid" for="validateCode">验证码</label>
					<!--<sys:validateCode name="validateCode" inputCssStyle="margin-bottom:0;"/>-->
				</div>
				<input class="btn btn-large btn-primary" type="submit" value="登 录"/>
				<label for="rememberMe" title="下次不需要再登录"><input type="checkbox" id="rememberMe" name="rememberMe" th:value="${rememberMe ?'checked':_" /> 记住我（公共场所慎用）</label>
				<!--<div id="themeSwitch" class="dropdown">-->
					<!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">${fns:getDictLabel(cookie.theme.value,'theme','默认主题')}<b class="caret"></b></a>-->
					<!--<ul class="dropdown-menu">-->
						<!--<c:forEach items="${fns:getDictList('theme')}" var="dict"><li><a href="#" onclick="location='${pageContext.request.contextPath}/theme/${dict.value}?url='+location.href">${dict.label}</a></li></c:forEach>-->
					<!--</ul>-->
					<!--&lt;!&ndash;[if lte IE 6]><script type="text/javascript">$('#themeSwitch').hide();</script><![endif]&ndash;&gt;-->
				<!--</div>-->
			</form>


		</div>
		<!-- /content -->
	</div>
</div>
<div th:replace="modules/shop/layouts/fragment.html :: footer"></div>

<script th:src="@{/static/flash/zoom.min.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#loginForm").validate({
            rules: {
                validateCode: {remote: "${pageContext.request.contextPath}/servlet/validateCodeServlet"}
            },
            messages: {
                username: {required: "请填写用户名."},password: {required: "请填写密码."},
                validateCode: {remote: "验证码不正确.", required: "请填写验证码."}
            },
            errorLabelContainer: "#messageBox",
            errorPlacement: function(error, element) {
                error.appendTo($("#loginError").parent());
            }
        });
    });
    // 如果在框架或在对话框中，则弹出提示并跳转到首页
    if(self.frameElement && self.frameElement.tagName == "IFRAME" || $('#left').length > 0 || $('.jbox').length > 0){
        alert('未登录或登录超时。请重新登录，谢谢！');
        top.location = "/";
    }
</script>
</body>
</html>


