<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="modules/shop/layouts/fragment.html :: common_head(~{::title},~{::meta},~{})">
    <title>类别查询</title>
    <!--<description>月光茶人</description>-->
    <!--<keywords>月光茶人</keywords>-->
    <meta name="description" content="首页" />
    <meta name="keywords" content="首页 关键字 测试" />
</head>
<body  class="page-body" >

<div th:replace="modules/shop/layouts/fragment.html :: header"></div>

<div class="main-w clearfix">
    <div class="main clearfix">
        <!-- content -->

        <!-- /content -->

    </div>
</div>
<div th:replace="modules/shop/layouts/fragment.html :: footer"></div>
</body>
</html>